.enemy {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  position: absolute;
  top: 5px;
  left: calc(50% - 50px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.enemy.skin-1 {
  background-image: url(../img/enemy-1.png);
}
.enemy.skin-2 {
  background-image: url(../img/enemy-2.png);
}
.enemy.skin-3 {
  background-image: url(../img/enemy-3.png);
}