#player {
  height: 135px;
  width: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  position: absolute;
  bottom: 5px;
  left: calc(50% - 65px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#player.skin-1 {
  background-image: url(../img/space-ship-1.png);
}
#player.skin-2 {
  background-image: url(../img/space-ship-2.png);
}
#player.skin-3 {
  background-image: url(../img/space-ship-3.png);
}

.bullet {
  position: absolute;
  height: 32px;
  width: 16px;
  background-image: url(../img/bullet.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.bullet.skin-1 {
  bottom: 110px;
}
.bullet.skin-2 {
  bottom: 145px;
}
.bullet.skin-3 {
  bottom: 115px;
}