#player {
  height: 135px;
  width: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  position: absolute;
  bottom: 5px;
  left: calc(50% - 65px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#player.skin-1 {
  background-image: url(../img/space-ship-1.png);
}
#player.skin-2 {
  background-image: url(../img/space-ship-2.png);
}
#player.skin-3 {
  background-image: url(../img/space-ship-3.png);
}

#bullet {
  position: absolute;
  height: 20px;
  width: 4px;
  left: calc(50% - 2px);
  background-color: white;
  border-radius: 6px/10px;
  -webkit-box-shadow: 0 0 10px, 0 0 2px inset;
          box-shadow: 0 0 10px, 0 0 2px inset;
  -webkit-animation: glow 1.5s linear infinite;
          animation: glow 1.5s linear infinite;
}

#bullet.skin-1 {
  bottom: 110px;
}

#bullet.skin-2 {
  bottom: 145px;
}

#bullet.skin-3 {
  bottom: 115px;
}

@-webkit-keyframes glow {
  from {
    color: lime;
    -webkit-box-shadow: 0 0 9px lime;
            box-shadow: 0 0 9px lime;
  }
  50% {
    color: lime;
    -webkit-box-shadow: 0 0 18px lime;
            box-shadow: 0 0 18px lime;
  }
  to {
    color: lime;
    -webkit-box-shadow: 0 0 9px lime;
            box-shadow: 0 0 9px lime;
  }
}

@keyframes glow {
  from {
    color: lime;
    -webkit-box-shadow: 0 0 9px lime;
            box-shadow: 0 0 9px lime;
  }
  50% {
    color: lime;
    -webkit-box-shadow: 0 0 18px lime;
            box-shadow: 0 0 18px lime;
  }
  to {
    color: lime;
    -webkit-box-shadow: 0 0 9px lime;
            box-shadow: 0 0 9px lime;
  }
}