*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  overflow: hidden;
}

html {
  background: -o-radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

.container {
  height: 100%;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

#app {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 9998;
}

/*==================
|   Player style   |
==================*/
#player {
  height: 135px;
  width: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  position: absolute;
  bottom: 5px;
  left: calc(50% - 65px);
  z-index: 9999;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#player.skin-1 {
  background-image: url(../img/space-ship-1.png);
}
#player.skin-2 {
  background-image: url(../img/space-ship-2.png);
}
#player.skin-3 {
  background-image: url(../img/space-ship-3.png);
}

/*==================
|   Bullet style   |
==================*/
.bullet {
  position: absolute;
  height: 25px;
  width: 4px;
  background-color: white;
  border-radius: 6px/10px;
  -webkit-box-shadow: 0 0 10px, 0 0 2px inset;
          box-shadow: 0 0 10px, 0 0 2px inset;
  z-index: 9999;
  -webkit-animation: glow 1.5s linear infinite;
          animation: glow 1.5s linear infinite;
}
.bullet.skin-1 {
  bottom: 135px;
}
.bullet.skin-2 {
  bottom: 125px;
}
.bullet.skin-3 {
  bottom: 120px;
}

@-webkit-keyframes glow {
  from {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
  50% {
    color: violet;
    -webkit-box-shadow: 0 0 18px violet;
            box-shadow: 0 0 18px violet;
  }
  to {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
}

@keyframes glow {
  from {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
  50% {
    color: violet;
    -webkit-box-shadow: 0 0 18px violet;
            box-shadow: 0 0 18px violet;
  }
  to {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
}
/*=================
|   Enemy style   |
=================*/
.enemy {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  position: absolute;
  top: -115px;
  z-index: 9998;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.enemy.skin-1 {
  background-image: url(../img/enemy-1.png);
}
.enemy.skin-2 {
  background-image: url(../img/enemy-2.png);
}
.enemy.skin-3 {
  background-image: url(../img/enemy-3.png);
}
.enemy.boom {
  background-image: url(../img/boom.gif);
  background-position: center;
}

/*==================
|   Planet style   |
==================*/
.planet {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  position: absolute;
  top: -115px;
  z-index: 9998;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.planet.skin-1 {
  height: 80px;
  width: 80px;
  background-image: url(../img/planet1.png);
}
.planet.skin-2 {
  height: 60px;
  width: 60px;
  background-image: url(../img/planet2.png);
}
.planet.skin-3 {
  height: 40px;
  width: 40px;
  background-image: url(../img/planet3.png);
}

/*====================
|   Asteroid style   |
====================*/
.asteroid {
  height: 65px;
  width: 100px;
  position: absolute;
  top: -115px;
  background-image: url(../img/asteroid1.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9998;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.asteroid.boom {
  background-image: url(../img/boom.gif);
  background-position: center;
}

/*========================
|   Start window style   |
========================*/
.start-window {
  position: absolute;
  width: 500px;
  padding: 30px 30px;
  border-radius: 10px;
  top: calc(50% - 225px);
  left: calc(50% - 250px);
  background-color: #2d2d2d;
  font-family: "AV Cosmos", sans-serif;
  text-align: center;
  -webkit-box-shadow: rgba(71, 21, 117, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(71, 21, 117, 0.56) 0px 22px 70px 4px;
}
.start-window__title {
  background: #272822;
  border: 2px solid #444;
  padding: 1rem 3rem;
  color: #202020;
  font-size: 2.5rem;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
.start-window__ships {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.start-window__ships input[type=radio]:checked + label {
  border: 2px solid #444;
  background: #272822;
}
.start-window__ship {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 10px 10px;
  border: 2px solid transparent;
  cursor: pointer;
}
.start-window__ship img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.start-window input {
  display: none;
}
.start-window__btn {
  position: relative;
  background: #444;
  color: #202020;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  font-size: 2rem;
  padding: 1rem 3rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.start-window__btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  text-shadow: -1px -1px 1px #140621, 2px 2px 1px #471575;
  /* box-shadow: 0 0 35px var(--clr); */
  -webkit-animation: box 3s infinite;
          animation: box 3s infinite;
}
.start-window__btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
.start-window__btn span {
  position: relative;
  z-index: 1;
}
.start-window__btn i {
  position: absolute;
  inset: 0;
  display: block;
}
.start-window__btn i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.start-window__btn:hover i::before {
  width: 15px;
  left: 20%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}
.start-window__btn i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.start-window__btn:hover i::after {
  width: 15px;
  left: 80%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

/*===================
|   Options style   |
===================*/
.game-options {
  position: absolute;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 40px;
  visibility: hidden;
}
.game-options__lifes {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.game-options__lifes span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/svg/life.svg);
}
.game-options__score {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-family: "AV Cosmos", sans-serif;
  color: #fff;
  font-size: 20px;
}
.game-options__score span {
  display: inline-block;
  width: 40px;
}
.game-options__sound {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.game-options__sound button {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}
.game-options__sound button#soundOn {
  background-image: url(../img/svg/sound-on.svg);
}
.game-options__sound button#soundOff {
  background-image: url(../img/svg/sound-off.svg);
}
.game-options__sound button.hidden {
  display: none;
}

/*======================
|   End window style   |
======================*/
.end-window {
  position: absolute;
  border-radius: 10px;
  padding: 30px 30px;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
  font-family: "AV Cosmos", sans-serif;
  background-color: #2d2d2d;
  text-align: center;
  -webkit-box-shadow: rgba(71, 21, 117, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(71, 21, 117, 0.56) 0px 22px 70px 4px;
  display: none;
}
.end-window__img {
  position: relative;
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.end-window__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.end-window__btn {
  position: relative;
  background: #444;
  color: #202020;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  font-size: 2rem;
  padding: 1rem 3rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.end-window__btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  text-shadow: -1px -1px 1px #140621, 2px 2px 1px #471575;
  /* box-shadow: 0 0 35px var(--clr); */
  -webkit-animation: box 3s infinite;
          animation: box 3s infinite;
}
.end-window__btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
.end-window__btn span {
  position: relative;
  z-index: 1;
}
.end-window__btn i {
  position: absolute;
  inset: 0;
  display: block;
}
.end-window__btn i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.end-window__btn:hover i::before {
  width: 15px;
  left: 20%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}
.end-window__btn i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.end-window__btn:hover i::after {
  width: 15px;
  left: 80%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes box {
  0% {
    -webkit-box-shadow: #27272c;
            box-shadow: #27272c;
  }
  50% {
    -webkit-box-shadow: 0 0 25px var(--clr);
            box-shadow: 0 0 25px var(--clr);
  }
  100% {
    -webkit-box-shadow: #27272c;
            box-shadow: #27272c;
  }
}
@keyframes box {
  0% {
    -webkit-box-shadow: #27272c;
            box-shadow: #27272c;
  }
  50% {
    -webkit-box-shadow: 0 0 25px var(--clr);
            box-shadow: 0 0 25px var(--clr);
  }
  100% {
    -webkit-box-shadow: #27272c;
            box-shadow: #27272c;
  }
}