*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  overflow: hidden;
}

html {
  background: -o-radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

.container {
  height: 100%;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

#app {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 9999;
}

/*==================
|   Player style   |
==================*/
#player {
  height: 135px;
  width: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
  position: absolute;
  bottom: 5px;
  left: calc(50% - 65px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#player.skin-1 {
  background-image: url(../img/space-ship-1.png);
}
#player.skin-2 {
  background-image: url(../img/space-ship-2.png);
}
#player.skin-3 {
  background-image: url(../img/space-ship-3.png);
}

/*==================
|   Bullet style   |
==================*/
.bullet {
  position: absolute;
  height: 25px;
  width: 4px;
  background-color: white;
  border-radius: 6px/10px;
  -webkit-box-shadow: 0 0 10px, 0 0 2px inset;
          box-shadow: 0 0 10px, 0 0 2px inset;
  -webkit-animation: glow 1.5s linear infinite;
          animation: glow 1.5s linear infinite;
}
.bullet.skin-1 {
  bottom: 135px;
}
.bullet.skin-2 {
  bottom: 125px;
}
.bullet.skin-3 {
  bottom: 120px;
}

@-webkit-keyframes glow {
  from {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
  50% {
    color: violet;
    -webkit-box-shadow: 0 0 18px violet;
            box-shadow: 0 0 18px violet;
  }
  to {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
}

@keyframes glow {
  from {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
  50% {
    color: violet;
    -webkit-box-shadow: 0 0 18px violet;
            box-shadow: 0 0 18px violet;
  }
  to {
    color: violet;
    -webkit-box-shadow: 0 0 9px violet;
            box-shadow: 0 0 9px violet;
  }
}
/*=================
|   Enemy style   |
=================*/
.enemy {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  position: absolute;
  top: -115px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.enemy.skin-1 {
  background-image: url(../img/enemy-1.png);
}
.enemy.skin-2 {
  background-image: url(../img/enemy-2.png);
}
.enemy.skin-3 {
  background-image: url(../img/enemy-3.png);
}
.enemy.boom {
  background-image: url(../img/boom.gif);
  background-position: center;
}

/*====================
|   Asteroid style   |
====================*/
.asteroid {
  height: 65px;
  width: 100px;
  position: absolute;
  top: -115px;
  background-image: url(../img/asteroid1.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.asteroid.boom {
  background-image: url(../img/boom.gif);
  background-position: center;
}