.enemy {
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0;
	position: absolute;
	top: 5px;
	left: calc(50% - 50px);
	transition: all 0.3s ease-out;
	&.skin-1 {
		background-image: url(../img/enemy-1.png);
	}
	&.skin-2 {
		background-image: url(../img/enemy-2.png);
	}
	&.skin-3 {
		background-image: url(../img/enemy-3.png);
	}
}
