// Import *.scss =========================================================
@import "_reset";

html {
	overflow: hidden;
}

html {
	background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

.container {
	height: 100%;
	width: 100%;
	padding: 15px;
	margin: 0 auto;
}

#app {
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 9998;
	// height: 100%;
}

/*==================
|   Player style   |
==================*/
#player {
	height: 135px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 100%;
	position: absolute;
	bottom: 5px;
	left: calc(50% - 65px);
	transition: all 0.3s ease-out;
	&.skin-1 {
		background-image: url(../img/space-ship-1.png);
	}
	&.skin-2 {
		background-image: url(../img/space-ship-2.png);
	}
	&.skin-3 {
		background-image: url(../img/space-ship-3.png);
	}
}

/*==================
|   Bullet style   |
==================*/
.bullet {
	position: absolute;
	// height: 32px;
	// width: 16px;
	// bottom: 140px;
	height: 25px;
	width: 4px;
	// top: 85%;
	// left: calc(50% - 8px);
	// left: calc(50% - 2px);
	// background-image: url(../img/bullet.png);
	// background-repeat: no-repeat;
	// background-size: contain;
	background-color: white;
	border-radius: 6px/10px;
	box-shadow: 0 0 10px, 0 0 2px inset;
	animation: glow 1.5s linear infinite;
	&.skin-1 {
		bottom: 135px;
	}
	&.skin-2 {
		bottom: 125px;
	}
	&.skin-3 {
		bottom: 120px;
	}
}

@keyframes glow {
	from {
		color: violet;
		box-shadow: 0 0 9px violet;
	}
	50% {
		color: violet;
		box-shadow: 0 0 18px violet;
	}
	to {
		color: violet;
		box-shadow: 0 0 9px violet;
	}
}

/*=================
|   Enemy style   |
=================*/
.enemy {
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0;
	position: absolute;
	top: -115px;
	transition: all 0.3s ease-out;
	&.skin-1 {
		background-image: url(../img/enemy-1.png);
	}
	&.skin-2 {
		background-image: url(../img/enemy-2.png);
	}
	&.skin-3 {
		background-image: url(../img/enemy-3.png);
	}
	&.boom {
		background-image: url(../img/boom.gif);
		background-position: center;
	}
}

/*====================
|   Asteroid style   |
====================*/
.asteroid {
	height: 65px;
	width: 100px;
	position: absolute;
	top: -115px;
	background-image: url(../img/asteroid1.png);
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.3s ease-out;
	&.boom {
		background-image: url(../img/boom.gif);
		background-position: center;
	}
}

/*===================
|   Options style   |
===================*/
.game-options {
	position: absolute;
	z-index: 9999;
	display: flex;
	width: 100%;
	max-height: 40px;
	visibility: hidden;
	> * {
		border: #fff 1px solid;
		color: #fff;
	}

	&__lifes {
		flex: 1 1 auto;
	}

	&__score {
		flex: 0 0 auto;
	}

	&__sound {
		flex: 0 0 auto;
		> button {
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			&#soundOn {
				background-image: url(../img/svg/sound-on-1.svg);
			}
			&#soundOff {
				background-image: url(../img/svg/sound-off-1.svg);
			}
			&.hiden {
				display: none;
			}
		}
	}
}
